Source: wazo-chatd
Section: python
Priority: optional
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 12), dh-python, python3-all, python3-setuptools
Standards-Version: 4.2.1
X-Python3-Version: >= 3.9

Package: wazo-chatd
Architecture: all
Section: python
Depends: ${python3:Depends},
         ${misc:Depends},
         alembic,
         python3-alembic,
         python3-cheroot,
         python3-consul,
         python3-dateutil,
         python3-flask,
         python3-flask-cors,
         python3-flask-restful,
         python3-iso8601,
         python3-jsonpatch,
         python3-kombu,
         python3-marshmallow,
         python3-psycopg2,
         python3-requests,
         python3-sqlalchemy,
         python3-sqlalchemy-utils (>= 0.36.8),
         python3-stevedore,
         python3-yaml,
         wazo-amid-client-python3,
         wazo-auth-client-python3,
         wazo-confd-client-python3,
         wazo-dbms,
         wazo-bus-python3,
         xivo-lib-python-python3
Description: Chant and presence daemon for Wazo Engine
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
