[Unit]
Description=wazo-chatd daemon
After=network.target
StartLimitBurst=15
StartLimitIntervalSec=150

[Service]
Environment=PYTHONUNBUFFERED=TRUE
ExecStart=/usr/bin/wazo-chatd
Restart=on-failure
RestartSec=5
SyslogIdentifier=wazo-chatd

[Install]
WantedBy=multi-user.target
